body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f5e1d3;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #f5e1d3;
    align-items: center;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    
}

.navbar ul li a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: #8b6b5a;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #8b6b5a;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.active {
    color: #8b6b5a;
}

